<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tranphucvinh.mybatis.mapper.MasterMapper">

    <select id="selectMasterList" resultType="MasterVO">
        SELECT
            type,
            code,
            value,
            parent_type,
            parent_code,
            sort_order,
            note,
            disabled
        FROM
            tb_master
        ORDER BY type ASC, sort_order ASC
    </select>
</mapper>
