<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- begin : External Plugins -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.min.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<!-- end : External Plugins -->

<!-- begin : Datatable Plugins -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/datatables.net-dt/css/jquery.dataTables.min.css}">
<script th:src="@{/assets/plugins/datatables.net-dt/js/dataTables.dataTables.min.js}"></script>
<!-- end : Datatable Plugins -->

<!-- begin : Page Styles -->
<link th:href="@{/assets/css/styles.css}" rel="stylesheet">
<!-- end : Page Styles -->