<div
	class="sidebar w-64 bg-gray-300 fixed top-16 bottom-0 overflow-y-auto pt-5 shadow-lg md:block">
	<ul class="list-none p-0">
		<a href="#/dashboard"
			class="px-2 mb-4 cursor-pointer hover:bg-gray-400 flex items-center"><i
			class="fas fa-chart-bar mr-2"></i>Dashboard</a>
		<li
			class="px-2 mb-4 cursor-pointer hover:bg-gray-400 flex items-center">
			<i class="fas fa-user mr-2"></i>Account Management <i
			class="fas fa-angle-right ml-auto" style="display: none;"></i>
			<ul class="list-none pl-5 hidden">
				<a href="#/admin"
					class="px-2 mt-2 cursor-pointer hover:bg-gray-400 flex items-center">
					Admin </a>
				<a href="#/member"
					class="px-2 mt-2 cursor-pointer hover:bg-gray-400 flex items-center">Member
				</a>
			</ul>
		</li>
		<li
			class="px-2 mb-4 cursor-pointer hover:bg-gray-400 flex items-center">
			<i class="fas fa-language mr-2"></i> Vocabulary Setting <i
			class="fas fa-angle-right ml-auto" style="display: none;"></i>
			<ul class="list-none pl-5 hidden">
				<a
					class="px-2 mt-2 cursor-pointer hover:bg-gray-400 flex items-center">Topic
				</a>
				<a
					class="px-2 mt-2 cursor-pointer hover:bg-gray-400 flex items-center">Words
				</a>
				<a
					class="px-2 mt-2 cursor-pointer hover:bg-gray-400 flex items-center">Mind
					Map </a>
			</ul>
		</li>
		<li
			class="px-2 mb-4 cursor-pointer hover:bg-gray-400 flex items-center">
			<i class="fas fa-spell-check mr-2"></i> Grammar Setting <i
			class="fas fa-angle-right ml-auto" style="display: none;"></i>
			<ul class="list-none pl-5 hidden">
				<a
					class="px-2 mt-2 cursor-pointer hover:bg-gray-400 flex items-center">
					Topic </a>
				<a
					class="px-2 mt-2 cursor-pointer hover:bg-gray-400 flex items-center">
					Words </a>
				<a
					class="px-2 mt-2 cursor-pointer hover:bg-gray-400 flex items-center">
					Mind Map </a>
			</ul>
		</li>
		<a
			class="px-2 mb-4 cursor-pointer hover:bg-gray-400 flex items-center">
			<i class="fas fa-question-circle mr-2"></i> FAQ
		</a>
		<a
			class="px-2 mb-4 cursor-pointer hover:bg-gray-400 flex items-center">
			<i class="fas fa-bell mr-2"></i> Notification Setting
		</a>
	</ul>
</div>